---
// src/components/Header.astro

import { getCollection } from "astro:content";

// helper (si tu l'as déjà ailleurs, garde ta version)
const labelFromId = (id) =>
  id
    .replace(/[-_]/g, " ")
    .replace(/\b\w/g, (c) => c.toUpperCase());

// Charge les collections (retourne des entries avec { id, data, ... })
const services = await getCollection("services").catch(() => []);
const metiers = await getCollection("metiers").catch(() => []);
const zones = await getCollection("zones").catch(() => []);
const villes = await getCollection("villes").catch(() => []);
---

<header id="header" class="transparent-header dark" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container">
      <div class="header-row">
        <div id="logo">
          <a href="/">
            <img class="logo-default" src="/assets/images/logo.png" alt="Logo" />
          </a>
        </div>

        <div class="primary-menu-trigger">
          <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
            <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
          </button>
        </div>

        <nav class="primary-menu">
          <ul class="menu-container">
            <li class="menu-item">
              <a class="menu-link" href="/"><div>Accueil</div></a>
            </li>

            <li class="menu-item">
              <a class="menu-link" href="/prestations/"><div>Prestations</div></a>
              <ul class="sub-menu-container">
                {services.map((e) => (
                    <li class="menu-item">
                      <a class="menu-link" href={`/prestations/${e.id}/`}><div>{labelFromId(e.id)}</div></a>
                    </li>
                ))}
              </ul>
            </li>

            <li class="menu-item">
              <a class="menu-link" href="/metiers/"><div>Métiers</div></a>
              <ul class="sub-menu-container">
                {metiers.map((e) => (
                    <li class="menu-item">
                      <a class="menu-link" href={`/metiers/${e.data.slug}/`}><div>{labelFromId(e.id)}</div></a>
                    </li>
                ))}
              </ul>
            </li>

            <li class="menu-item">
              <a class="menu-link" href="/zones/"><div>Zones</div></a>
              <ul class="sub-menu-container">
                {zones.map((e) => (
                    <li class="menu-item">
                      <a class="menu-link" href={`/zones/${e.id}/`}><div>{labelFromId(e.id)}</div></a>
                    </li>
                ))}
              </ul>
            </li>

            <li class="menu-item bg-color h-bg-dark px-xl-3">
              <a class="menu-link" href="/contact/"><div>Contact</div></a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
  <div class="header-wrap-clone"></div>
</header>
