---
// src/pages/prestations/[slug].astro
import SiteLayout from "../../layouts/SiteLayout.astro";
import Hero from "../../components/blocks/Hero.astro";
import ValueClarity from "../../components/blocks/ValueClarity.astro";
import ProcessBenchmarks from "../../components/blocks/ProcessBenchmarks.astro";
import MethodVideoProof from "../../components/blocks/MethodVideoProof.astro";
import MetiersGrid from "../../components/blocks/MetiersGrid.astro";
import CtaBand from "../../components/blocks/CtaBand.astro";
import SupportBand from "../../components/blocks/SupportBand.astro";
import FaqToggles from "../../components/blocks/FaqToggles.astro";
import ResourcesGrid from "../../components/blocks/ResourcesGrid.astro";

import prestationsIndex from "../../data/prestations/index.json";
import ressourcesIndex from "../../data/ressources/index.json";
import { getPrestationBySlug, getMetierBySlug } from "../../lib/data.ts";

export async function getStaticPaths() {
  const items = (prestationsIndex as any).items as Array<{ slug: string }>;
  return items.map((p) => ({ params: { slug: p.slug } }));
}

const { slug } = Astro.params;

const prestation = await getPrestationBySlug(slug);

const rItems = ((ressourcesIndex as any).items ?? []) as any[];
const ressources = rItems
  .filter((r) => (r?.targets?.prestations ?? []).includes(prestation.slug))
  .slice(0, prestation?.sections?.resourcesGrid?.items?.limit ?? 6);

const metiers = await Promise.all(
  (prestation?.sections?.metiersGrid?.items?.slugs ?? []).map((s: string) => getMetierBySlug(s))
);

const faq = prestation?.faq ?? [];
---

<SiteLayout seo={prestation.meta} schema={{ includeWebsite: true, includeSearchAction: false, faq }}>
  <Hero {...prestation.hero} />

  <section id="content">
    <div class="content-wrap pb-0 pt-0 pt-lg-5">
      <ValueClarity data={prestation.sections.valueClarity} />
      <ProcessBenchmarks data={prestation.sections.processBenchmarks} />
      <MethodVideoProof data={prestation.sections.videoProof} />
      <MetiersGrid
          data={{ ...prestation.sections.metiersGrid, linkMode: "cross", prestaSlug: prestation.slug }}
          metiers={metiers}
      />
      {prestation?.sections?.resourcesGrid && ressources?.length > 0 && (
          <ResourcesGrid data={prestation.sections.resourcesGrid} items={ressources} />
      )}
      <CtaBand data={prestation.sections.ctaBand} />
      <SupportBand data={prestation.sections.supportBand} />
      <FaqToggles data={prestation.sections.faqToggles} faq={faq} />
    </div>
  </section>
</SiteLayout>