---
// src/pages/index.astro
import SiteLayout from "../layouts/SiteLayout.astro";

import Hero from "../components/blocks/Hero.astro";
import MethodVideoProof from "../components/blocks/MethodVideoProof.astro";
import PrestationsTabs from "../components/blocks/PrestationsTabs.astro";
import MetiersGrid from "../components/blocks/MetiersGrid.astro";
import CtaBand from "../components/blocks/CtaBand.astro";
import SupportBand from "../components/blocks/SupportBand.astro";
import Packs3Cols from "../components/blocks/Packs3Cols.astro";
import FaqToggles from "../components/blocks/FaqToggles.astro";

import rawPageData from "../data/page_home.json";
import { hydrateStandardPage } from "../lib/seoTokens";

import { getMetierBySlug, getPrestationBySlug } from "../lib/data.ts";

const pageData = hydrateStandardPage(rawPageData);

// Hydratation data-driven depuis les slugs du JSON
const metiers = await Promise.all(
	pageData.sections.metiersGrid.items.slugs.map((s) => getMetierBySlug(s))
);

const prestations = await Promise.all(
	pageData.sections.prestationsTabs.items.slugs.map((s) => getPrestationBySlug(s))
);

const faq = pageData.schema?.faq ?? [];
---

<SiteLayout seo={pageData.seo} schema={pageData.schema} breadcrumbs={pageData.breadcrumbs}>
	<Hero {...pageData.hero} />

	<section id="content">
		<div class="content-wrap pb-0 pt-0 pt-lg-5">
			<MethodVideoProof data={pageData.sections.methodVideoProof} />
			<PrestationsTabs data={pageData.sections.prestationsTabs} prestations={prestations} />
			<MetiersGrid data={pageData.sections.metiersGrid} metiers={metiers} />
			<CtaBand data={pageData.sections.ctaBand} />
			<SupportBand data={pageData.sections.supportBand} />
			<Packs3Cols data={pageData.sections.offersPacks} />
			<FaqToggles data={pageData.sections.faqToggles} faq={faq} />
		</div>
	</section>
</SiteLayout>