---
// src/pages/metiers/[slug].astro
import SiteLayout from "../../layouts/SiteLayout.astro";
import Hero from "../../components/blocks/Hero.astro";
import MethodVideoProof from "../../components/blocks/MethodVideoProof.astro";
import PrestationsTabs from "../../components/blocks/PrestationsTabs.astro";
import CtaBand from "../../components/blocks/CtaBand.astro";
import SupportBand from "../../components/blocks/SupportBand.astro";
import FaqToggles from "../../components/blocks/FaqToggles.astro";
import ResourcesGrid from "../../components/blocks/ResourcesGrid.astro";

import metiersIndex from "../../data/metiers/index.json";
import ressourcesIndex from "../../data/ressources/index.json";
import { getMetierBySlug, getPrestationBySlug, normalizeHero } from "../../lib/data.ts";

export async function getStaticPaths() {
  const items = (metiersIndex as any).items as Array<{ slug: string }>;
  return items.map((m) => ({
    params: { slug: m.slug }
  }));
}

const { slug } = Astro.params;

const metier = await getMetierBySlug(slug);

const rItems = ((ressourcesIndex as any).items ?? []) as any[];
const ressources = rItems
  .filter((r) => (r?.targets?.metiers ?? []).includes(metier.slug))
  .slice(0, metier?.sections?.resourcesGrid?.items?.limit ?? 6);

const hero = normalizeHero(metier.hero);

const prestaSlugs: string[] = metier?.sections?.prestationsTabs?.items?.slugs ?? [];
const prestations = await Promise.all(prestaSlugs.map((s) => getPrestationBySlug(s)));

const faq = metier?.faq ?? [];
---

<SiteLayout seo={metier.meta} schema={{ includeWebsite: true, includeSearchAction: false, faq }}>
  <Hero {...hero} />

  <section id="content">
    <div class="content-wrap pb-0 pt-0 pt-lg-5">
      <MethodVideoProof data={metier.sections.videoProof} />
      <PrestationsTabs
          data={{ ...metier.sections.prestationsTabs, linkMode: "cross", metierSlug: metier.slug }}
          prestations={prestations}
      />
      {metier?.sections?.resourcesGrid && ressources?.length > 0 && (
          <ResourcesGrid data={metier.sections.resourcesGrid} items={ressources} />
      )}
      <CtaBand data={metier.sections.ctaBand} />
      <SupportBand data={{ ...metier.sections.supportBand, linkMode: "cross", metierSlug: metier.slug }} />
      <FaqToggles data={metier.sections.faqToggles} faq={faq} />
    </div>
  </section>
</SiteLayout>