---
// src/pages/metiers/index.astro
import SiteLayout from "../../layouts/SiteLayout.astro";
import Hero from "../../components/blocks/Hero.astro";
import MetiersGrid from "../../components/blocks/MetiersGrid.astro";
import CtaBand from "../../components/blocks/CtaBand.astro";
import FaqToggles from "../../components/blocks/FaqToggles.astro";

import rawPageData from "../../data/page_metiers.json";
import { hydrateStandardPage } from "../../lib/seoTokens";
import { getMetierBySlug } from "../../lib/data.ts";

const pageData = hydrateStandardPage(rawPageData);

const metiers = await Promise.all(
  pageData.sections.metiersGrid.items.slugs.map((s) => getMetierBySlug(s))
);

const faq = pageData.schema?.faq ?? [];
---

<SiteLayout seo={pageData.seo} schema={pageData.schema}>
  <Hero {...pageData.hero} />

  <section id="content">
    <div class="content-wrap pb-0 pt-0 pt-lg-5">
      <MetiersGrid data={pageData.sections.metiersGrid} metiers={metiers} />
      <CtaBand data={pageData.sections.ctaBand} />
      <FaqToggles data={pageData.sections.faqToggles} faq={faq} />
    </div>
  </section>
</SiteLayout>