---
const {
  seo,
  canonical,
  jsonLd,
  ASSET_BASE = "/_assets_",
} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="author" content="Horizon Conversion" />
  <meta name="description" content={seo?.description} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="canonical" href={canonical} />
  <title>{seo?.title}</title>

  <meta property="og:type" content="website" />
  <meta property="og:title" content={seo?.ogTitle} />
  <meta property="og:description" content={seo?.ogDescription} />
  <meta property="og:url" content={seo?.ogUrl} />
  <meta name="twitter:card" content="summary_large_image" />

  {jsonLd && <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />}

  <!-- Font Imports -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet" />

  <!-- Core Style -->
  <link rel="stylesheet" href={`${ASSET_BASE}/style.css`} />
  <!-- Font Icons -->
  <link rel="stylesheet" href={`${ASSET_BASE}/css/font-icons.css`} />
  <!-- Plugins/Components CSS -->
  <link rel="stylesheet" href={`${ASSET_BASE}/css/components/bs-switches.css`} />
  <!-- Niche -->
  <link rel="stylesheet" href={`${ASSET_BASE}/seo.css`} />
  <!-- Custom CSS -->
  <link rel="stylesheet" href={`${ASSET_BASE}/css/custom.css`} />
</head>