---
// src/components/PageTitle.astro
import Breadcrumb from "../components/Breadcrumb.astro";

const { contexte, seo, breadcrumbItems, data } = Astro.props;

// fallback
const badge = data?.badge ?? "Horizon Conversion";
const h1 =
  data?.h1
  ?? seo?.title
  ?? contexte?.service?.name
  ?? contexte?.ville?.name
  ?? contexte?.zone?.name
  ?? contexte?.cible?.name
  ?? "Horizon Conversion";

const chapo =
  data?.chapo
  ?? seo?.description
  ?? "Audit gratuit, plan clair, mise en place simple.";

const img = data?.image ?? "/assets/images/page-title.jpg";
---

<section class="page-title page-title-parallax parallax scroll-detect page-title-center dark include-header include-topbar" style="padding-bottom: 140px;">
  <img src={img} class="parallax-bg" alt="" />

  <div class="container position-relative">
    <div class="page-title-row">
      <div class="page-title-content">
        <div class="badge rounded-pill border border-light text-light">{badge}</div>
        <h1>{h1}</h1>
        <span>{chapo}</span>
      </div>

      <Breadcrumb items={breadcrumbItems} />
    </div>
  </div>

  <div class="video-overlay z-1" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D);"></div>
</section>
