---
// src/components/TopBar.astro

const phoneLabel = "06 60 92 10 08";
const phoneE164 = "+33660921008";
const phoneTelHref = `tel:${phoneE164.replace(/\s+/g, "")}`;

const email = "contact@horizon-conversion.fr";
const emailHref = `mailto:${email}`;
---

<!-- Top Bar -->
<div id="top-bar" class="transparent-topbar">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-auto">
        <div class="top-links">
          <ul class="top-links-container">
            <li class="top-links-item">
              <a href="/zones/">Zones Sud Oise / Val d’Oise 95</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-auto">
        <div class="top-links">
          <ul class="top-links-container">
            <li class="top-links-item">
              <a href={phoneTelHref} data-track="tel">{phoneLabel}</a>
            </li>
            <li class="top-links-item">
              <a href={emailHref}>{email}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>